﻿@model mvcgmail.Models.gmail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("Index", "EmailSetup", FormMethod.Post, new { enctype = "multipart/form.data" }))
        {
            <center>
                <table>
                        <tr>
                            <td style="width:80px">
                                To:
                            </td>
                            <td>@Html.TextBoxFor(model=>model.To)</td>
                        </tr>
                        <tr>
                            <td>
                                Subject:
                            </td>
                            <td>@Html.TextBoxFor(model => model.Subject)</td>
                        </tr>
                        <tr>
                            <td valign="top">
                                Body:
                            </td>
                            <td>@Html.TextAreaFor(model => model.Body, new { rows ="15",cols="25"})</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="send" />
                            </td>
                            <td></td>
                        </tr>
                </table>
                <br/>
                <span style="color:green">@ViewBag.Message</span>
            </center>
        }
    </div>
</body>
</html>
    